recycle/
*.DS_Store
*.inst
felspa_config.h
felspaConfigVersion.cmake
felspaConfig.cmake

lib/
bin/
doc/html/
doc/latex/

.cache 
.ccls
.ccls-cache
.syntastic_cpp_config
c_cpp_properties.json
compile_commands.json
tags*
*.code-workspace

.vscode

.csettings
.settings
.project
.cproject

*build/
Makefile
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
install_manifest.txt

*.a
*.d
*.m
*.o
*.x
*.dat
*.log
*.timer
vgcore.*

__pycache__
